registry=https://sdk-238605814983.d.codeartifact.ap-southeast-2.amazonaws.com/npm/SDK/
//sdk-238605814983.d.codeartifact.ap-southeast-2.amazonaws.com/npm/SDK/:always-auth=true
//sdk-238605814983.d.codeartifact.ap-southeast-2.amazonaws.com/npm/SDK/:_authToken=${CODEARTIFACT_AUTH_TOKEN}